<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head/_head.ejs', { page: `ReVamp(ire)`, cssFile: '/styles/main.css' }) %>

<body>

  <%- include('./partials/nav/_nav.ejs') %>

  <section class='card html-card columns is-mobile'>
    <!-- LEFT CARD -->
    <article class='card-content card-left column'>
      <h1 class='card-title'> HTML </h1>
      <h3 class='card-desc'> The language for building web pages </h3>
      <div class='card-left-buttons'>
        <a href="/exercises/html/" class='button card-buttons' id="is-w3-green">Learn HTML</a>
        <a href="https://www.w3schools.com/tags/default.asp" class='button card-buttons' id="is-yellow">HTML Reference</a>
      </div>
    </article>

    <!-- RIGHT CARD -->
    <%- include('./partials/rightCards/_rightCardHTML.ejs', { header: 'HTML Example', link: 'https://www.w3schools.com/html/tryit.asp?filename=tryhtml_default_default' }) %>
    
  </section>

  <section class='card css-card columns is-mobile'>
    <!-- LEFT CARD -->
    <article class='card-content card-left column'>
      <h1 class='card-title'> CSS </h1>
      <h3 class='card-desc'> The language for styling web pages </h3>
      <div class='card-left-buttons'>
        <a href="/exercises/css" class="button card-buttons" id="is-w3-green">Learn CSS</a>
        <a href="https://www.w3schools.com/cssref/default.asp" class="button is-dark card-buttons">CSS Reference</a>
      </div>
    </article>

    <!-- RIGHT CARD -->
    <%- include('./partials/rightCards/_rightCardCSS.ejs', { header: 'CSS Example', link: 'https://www.w3schools.com/css/tryit.asp?filename=trycss_default' }) %>
  </section>


  <section class='card js-card columns is-mobile'>
    <!-- LEFT CARD -->
    <article class='card-content card-left column'>
      <h1 class='card-title'> JavaScript </h1>
      <h3 class='card-desc'> The language for programming web pages </h3>
      <div class='card-left-buttons'>
        <a href="/exercises/js/" class='button card-buttons'id='is-w3-green'>Learn JavaScript</a>
        <a href="https://www.w3schools.com/jsref/" class='button is-dark card-buttons'>JavaScript Reference</a>
      </div>
    </article>

    <!-- RIGHT CARD -->
    <%- include('./partials/rightCards/_rightCardJS.ejs', { header: 'JavaScript Example', link: 'https://www.w3schools.com/js/tryit.asp?filename=tryjs_default' }) %>
  </section>

  <!-- IDE BOTTOM CARD -->
  <section class='card ide-card columns is-mobile'>
    <article class='card-content card-right column'>
      <h2 class='card-header'> Sandbox Code Editor: </h2>
      <div class='card-ide'>
        <div id='my-js'> 
        </div>
      </div>
    </article>
  </section>

  <%- include('./partials/footer/_footer.ejs') %>

</body>
</html>