<!DOCTYPE html>
<html lang="en">
    
  <%- include('../partials/_head.ejs', { 
    page: `ReVamp(ire)`, 
    cssFile: '/styles/src/exercise.css'
  }) %>
  <%- include('../partials/_head_js.ejs', { 
    jsFile: '/scripts/main.js'}) %>

<body>

  <main>
    <!-- Aside Bar: To be replaced by Accordion later -->
    
    <aside class="menu">

      <!-- Header: Icons, Completion Tracker -->
      <section class="aside-header">
        <a href="/">
          <i class="fas fa-home"></i>
        </a>
        <a href="/">
          <i class="fas fa-redo-alt"></i>
        </a>
        <a>
          <i class="fas fa-times"></i>
        </a>
      </section>
      <section class="aside-tracker">
        <h5>Completed 0 of 10 Exercises</h5>
      </section>

      <!-- Loop through all Topics -->
      <% for (i in allExercises) { %>
        <p class="menu-label" id="menuLabel">
          <%= allExercises[i].topic %>
        </p>

        <!-- All questions: Cannot update the link to root -->
        <ul class="menu-list">
          <% for (i in allQuestions) { %>
            <li>
              <a href=`/`>
                Exercise <%= allQuestions[i].order%>
              </a>
            </li>
          <% } %>
        </ul>
      <% } %>
    </aside>

    <!-- Exercise Card -->

    <section class='card'>

      <article class='card-content'>
        
        <!-- Show Burger when sidebar is hidden -->
        <i class="fas fa-bars"></i>

        <div class="card-top">
          <h2 class='card-title'>Exercise</h2>
          <p class='card-desc'><%= question.prompt %></p>
        </div>

        <!-- FORM -->
        <div class="card-body">

          <form 
            action = <%= url %>
            method='POST'>

            <!-- CODE INPUT -->
            <div class="field card-mid">
              <div class="control">
                <p>var</p>
                <input 
                  type="text" 
                  class="input"
                  name="user_answer_1"
                  id="input1"
                >
                <p>=</p>
                <input 
                  type="text" 
                  class="input"
                  name="user_answer_2"
                  id='input2'
                >
              </div>
              <p class='feedback'></p>
            </div>   

            <!-- Submit BUTTONS -->
            <div class="field">
              <div class="control card-lower">
                  <button class="card-buttons button" id='submitButton'>Submit</button>
              </div>
          </div>
          </form>   

          <!-- Show Answer buttons -->
          <button class="card-buttons button" id='showAnswerButton'>Show Answer</button>
          <button class="card-buttons button invisible" id='hideAnswerButton'>Hide Answer</button>
        </div>

      </article>
    </section>
  </main>

  <footer>
    <button class="button is-secondary" id='checkAnswer'>Check Answer</button>
    <p id='correctAnswer1'> <%= question.correct_answer_1 %> </p>
    <p id='correctAnswer2'> <%= question.correct_answer_2 %> </p>
  </footer>

    
</body>
</html>