<!DOCTYPE html>
<html lang="en">
    
  <%- include('../partials/_head.ejs', { 
    page: `ReVamp(ire)`, 
    cssFile: '/styles/exercise.css'
  }) %>
  <script src="/scripts/main.js" defer></script>

<body>

  <!-- Aside Bar: To be replaced by Accordion later -->
  <container class="aside">
    <aside class="menu">

      <!-- Header: Icons, Completion Tracker -->
      <section class="aside-header">
<<<<<<< HEAD
        <a href="/">
          <i class="fas fa-home"></i>
        </a>
        <a href="/exercises/reset">
          <i class="fas fa-redo-alt"></i>
        </a>
        <a>
          <i class="fas fa-times"></i>
        </a>
=======
        <a href="/"><i class="fas fa-home"></i></a>
        <a href="/exercises/<%= allExercises[0].language %>/reset"><i class="fas fa-redo-alt"></i></a>
        <a><i class="fas fa-times"></i></a>
>>>>>>> main
      </section>

      <!-- Tracker -->
      <section class="aside-tracker">
        <h5>
          Completed 
          <span>
            <% if (!progress) { %>
              <%= question.order -1 %> 
            <% } else { %>
              <%= progress %>
            <% } %>
          </span>
          of 10 Exercises
        </h5>
      </section>

      <!-- Loop through all Topics -->
      <% for (i in allExercises) { %>
        <p class="menu-label topic_<%= i %>" id="menuLabel">
          <%= allExercises[i].topic %>
        </p>
        <!-- All questions: Cannot update the link to root -->
        <ul class="menu-list ">
          <% for (j in allQuestions) { %>
            <li class="topic_<%= i %>">
              <a 
                href= "../<%= allQuestions[i][j]._id %>/<%= allQuestions[i][j].order %>"
              >
                Exercise <%= allQuestions[i][j].topic_order%>
              </a>
            </li>
          <% } %>
        </ul>
      <% } %>
    </aside>
  </container> 

  <!-- CARD: Container -->
  
  <main>

    <!-- Show Burger when sidebar is hidden -->
    <nav class="navbar exercise-navbar">
      <i class="fas fa-bars exercise-navbar"></i>
    </nav>
    
    <!-- CARD -->
    <section class='card'>
      <article class='card-content'>

        <!-- CARD TOP -->
        <div class="card-top">
          <h2 class='card-title'>Exercise</h2>
          <p class='card-desc'><%= question.prompt %></p>
        </div>

        <!-- FORM -->
        <div class="card-body">
          <form action = <%= url %> method='POST'>
            <!-- CODE INPUT -->
            <div class="field card-mid">
              <div class="control"id="control-input">
                <p>
                  <%= question.text_before_inputs %>
                </p>
                <input 
                  type="text" 
                  class="input"
                  name="user_answer_1"
                  id="input1"
                >
                <p>
                  <%= question.text_between_inputs %>
                </p>
                <input 
                  type="text" 
                  class="input"
                  name="user_answer_2"
                  id='input2'
                >
                <p>
                  <%= question.text_after_inputs %>
                </p>
              </div>
              <p class='feedback'></p>
            </div>   

            <!-- BUTTONS -->
            <div class="control columns"id="card-buttons">
              <div class="submit card-buttons column">
                  <button class="card-buttons button" id='submitButton'>Submit</button>
              </div>
              <div class="show-hide-answer card-buttons column">
                <button class="card-buttons button" id='showAnswerButton'>Show Answer</button>
                <button class="card-buttons button invisible" id='hideAnswerButton'>Hide Answer</button>
              </div>
            </div>
          </form>
        </div>   
      </article>
    </section>
  </main>

<<<<<<< HEAD
  <footer class="footer is-invisible">
    <button class="button is-secondary" id='checkAnswer'>Check Answer</button>
=======
>>>>>>> main
  <footer>
    <p id='correctAnswer1'> <%= question.correct_answer_1 %> </p>
    <p id='correctAnswer2'> <%= question.correct_answer_2 %> </p>
  </footer>
    
</body>
</html>