<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
  <%- include('../partials/_head.ejs', { 
    page: `ReVamp(ire)`, 
    cssFile: '/styles/exercise.css'
  }) %>
  <%- include('../partials/_head_js.ejs', { 
    jsFile: '/scripts/main.js'}) %>

<body>
  <section class='card'>
    <article class='card-content'>
      <div class="card-top">
        <h2 class='card-title'>Exercise</h2>
        <p class='card-desc'><%= question.prompt %></p>
      </div>

      <!-- FORM -->
      <div class="card-body">

        <% const language = question.exercise_id.language %>
        <% const exercise_id = question.exercise_id._id %>
        <% const url = `/exercises/${language}/${exercise_id}/${question._id}` %>

        <form 
          action = <%= url %>
          method='POST'>

          <!-- CODE INPUT -->
          <div class="field card-mid">
            <div class="control">
              <p>var</p>
              <input 
                type="text" 
                class="input"
                name="user_answer_1"
                id="input1"
              >
              <p>=</p>
              <input 
                type="text" 
                class="input"
                name="user_answer_2"
                id='input2'
              >
            </div>
            <p class='feedback'></p>
          </div>   

          <!-- BUTTONS -->
          <div class="field">
            <div class="control card-lower">
                <button class="card-buttons button is-primary" id='submitButton'>Submit</button>
                <button class="card-buttons button is-dark" id='showAnswerButton'>Show Answer</button>
            </div>
        </div>
        </form>   
      </div>

    </article>
  </section>

  <button class="button is-secondary" id='checkAnswer'>Check Answer</button>
  <p id='correctAnswer1'> <%= question.correct_answer_1 %> </p>
  <p id='correctAnswer1'> <%= question.correct_answer_2 %> </p>

    
</body>
</html>