<!DOCTYPE html>
<html lang="en">
    
  <%- include('../partials/_head.ejs', { 
    page: `ReVamp(ire)`, 
    cssFile: '/styles/src/exerciseCss.css'
  }) %>
  <%- include('../partials/_head_js.ejs', { 
    jsFile: '/scripts/mainCss.js'}) %>

<body>

  <main>
    <!-- Aside Bar: To be replaced by Accordion later -->
    
    <aside class="menu">

      <!-- Header: Icons, Completion Tracker -->
      <section class="aside-header">
        <a href="/">
          <i class="fas fa-home"></i>
        </a>
        <a href="/">
          <i class="fas fa-redo-alt"></i>
        </a>
        <a>
          <i class="fas fa-times"></i>
        </a>
      </section>
      <section class="aside-tracker">
        <h5>Completed 0 of 10 Exercises</h5>
      </section>

      <!-- Loop through all Topics -->
      <% for (i in allExercises) { %>
        <p 
          class="menu-label topic_<%= i %>" 
          id="menuLabel"
        >
          <%= allExercises[i].topic %>
        </p>

        <!-- All questions: Cannot update the link to root -->
        <ul class="menu-list ">
          <% for (j in allQuestions) { %>
            <li 
              class="topic_<%= i %>""
            >
              <a 
                href= "../<%= allQuestions[i][j]._id %>/<%= allQuestions[i][j].order %>"
              >
                Exercise <%= allQuestions[i][j].topic_order%>
              </a>
            </li>
          <% } %>
        </ul>
      <% } %>
    </aside>

    <!-- Exercise Card -->

    <section class='card'>

      <article class='card-content'>
        
        <!-- Show Burger when sidebar is hidden -->
        <i class="fas fa-bars"></i>

        <div class="card-top">
          <h2 class='card-title'>Exercise</h2>
          <p class='card-desc'><%= question.prompt %></p>
        </div>

        <!-- CODE INPUT: CSS -->
        <iframe 
          frameborder="0" 
          width="800px" 
          height="500px" 
          src="https://replit.com/@truengsuksilp/w3schoolscss11htmlonly?lite=true"
        >
        </iframe>  
        
        <!-- JS Example: https://replit.com/@truengsuksilp/LocaleCompare?lite=true -->

        <!-- FORM -->
        <!-- <div class="card-body">
          
          <form 
            action = '/exercises/css'
            method='POST'>
            <div class="field card-mid">
              <div class="control">
                <textarea
                  class="input"
                  name="user_answer_1"
                  id="input1"
                >
                </textarea> 
              </div>
              <p class='feedback'></p>
            </div>   

            <div class="field">
              <div class="control card-lower">
                  <button class="card-buttons button" id='submitButton'>Submit</button>
              </div>
            </div>
          </form>   

        </div> -->

      </article>
    </section>
  </main>

</body>
</html>