<!DOCTYPE html>
<html lang="en">
    
  <%- include('../partials/_head.ejs', { 
    page: `ReVamp(ire)`, 
    cssFile: '/styles/src/exercise.css'
  }) %>
  <%- include('../partials/_head_js.ejs', { 
    jsFile: '/scripts/main.js'}) %>

<body>
   <!-- Aside Bar: To be replaced by Accordion later -->
    
   <aside class="menu">

    <!-- Header: Icons, Completion Tracker -->
    <section class="aside-header">
      <a href="/">
        <i class="fas fa-home"></i>
      </a>
      <a href="/">
        <i class="fas fa-redo-alt"></i>
      </a>
      <a>
        <i class="fas fa-times"></i>
      </a>
    </section>
    <section class="aside-tracker">
      <h5>
        Completed <%= question.order -1 %> of 10 Exercises
      </h5>
    </section>

    <!-- Loop through all Topics -->
    <% for (i in allExercises) { %>
      <p 
        class="menu-label topic_<%= i %>" 
        id="menuLabel"
      >
        <%= allExercises[i].topic %>
      </p>

      <!-- All questions: Cannot update the link to root -->
      <ul class="menu-list ">
        <% for (j in allQuestions) { %>
          <li 
            class="topic_<%= i %>""
          >
            <a 
              href= "../<%= allQuestions[i][j]._id %>/<%= allQuestions[i][j].order %>"
            >
              Exercise <%= allQuestions[i][j].topic_order%>
            </a>
          </li>
        <% } %>
      </ul>
    <% } %>
  </aside>
  <main>
   
    <!-- Header -->

    <!-- Show Burger when sidebar is hidden FIXME -->
     <nav class="navbar exercise-navbar">
      <i class="fas fa-bars exercise-navbar"></i>
    </nav>
    

    <!-- Exercise Card -->

    <section class='card'>

      <article class='card-content'>

        <div class="card-top">
          <h2 class='card-title'>Exercise</h2>
          <p class='card-desc'><%= question.prompt %></p>
        </div>

        <!-- FORM -->
        <div class="card-body">

          <form 
            action = <%= url %>
            method='POST'>

            <!-- CODE INPUT -->
            <div class="field card-mid">
              <div class="control">
                <p>
                  <%= question.text_before_inputs %>
                </p>
                <input 
                  type="text" 
                  class="input"
                  name="user_answer_1"
                  id="input1"
                >
                <p>
                  <%= question.text_between_inputs %>
                </p>
                <input 
                  type="text" 
                  class="input"
                  name="user_answer_2"
                  id='input2'
                >
                <p>
                  <%= question.text_after_inputs %>
                </p>
              </div>
              <p class='feedback'></p>
            </div>   

            <!-- BUTTONS -->
            
          </form>   
          <div class="card-buttons <!-- columns --> is-vcentered has-text-centered">
            <div class="control card-lower column is-vcentered has-text-centered">
                <button class="card-buttons button is-vcentered has-text-centered" id='submitButton'>Submit</button>
            </div>
              <div class="show-hide-answer column is-vcentered has-text-centered">
                <button class="card-buttons button is-vcentered has-text-centered" id='showAnswerButton'>Show Answer</button>
                <button class="card-buttons button invisible is-vcentered has-text-centered" id='hideAnswerButton'>Hide Answer</button>
              </div>
          </div>

      </article>
    </section>
  </main>

  <footer>
    <button class="button is-secondary" id='checkAnswer'>Check Answer</button>
    <p id='correctAnswer1'> <%= question.correct_answer_1 %> </p>
    <p id='correctAnswer2'> <%= question.correct_answer_2 %> </p>
  </footer>
    
</body>
</html>