<nav class="navbar">
  
  <!-- Navbar BRAND -->
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="logo_clear.png" id="is-60x60">
    </a>

    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link"> 
        Exercises 
      </a>
      <div class="navbar-dropdown dropdown-content-background-color">
          <a class="navbar-item dropdown-item-color" href='/exercises/html'> 
            HTML Exercises 
          </a> 
          <a class="navbar-item dropdown-item-color" href='/exercises/css'> 
            CSS Exercises 
          </a>
          <a class="navbar-item dropdown-item-color" href='/exercises/js'> 
            JavaScript Exercises 
          </a>
      </div>
    </div>

  </div>
  

  <div class="navbar-menu">

      <!-- Navbar START: THIS WAS WHERE EXERCISES WERE -->
      <!-- <div class="navbar-start">

      </div> -->

      <!-- Navbar END -->
      <div class="navbar-end">
        <% if(typeof user !== 'undefined'){ %>
          <p class="navbar-item">
            <strong>Account:&nbsp</strong>
            <span> <%= user.email %></span>
          </p>
        <% } %>

        <div class="navbar-item">
          <div class="buttons">
            <% for ( i in routes ) { %>
              <a 
                class="button <%= routes[i].class %>" 
                id="<%= routes[i].id %>"
                href="<%= routes[i].href %>"
              > 
                <%= routes[i].buttonTitle %>
              </a>
            <% } %>
          </div>
        </div>
      </div>

  </div>

</nav>